<%- include('header') -%>
<div class="row article">
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-12">
        <h1 class="title"><%= title %></h1>
        <p><time class="label label-default" datetime="<%= timestamp.utcOffset('+09:00').format() %>"><%= timestamp.utcOffset('+09:00').format('YYYY年MM月DD日') %></time> <span class="label label-primary"><%= settings.categoryName[category] %></span></p>
      </div>
    </div>
    <div class="row content">
      <div class="col-md-12">
        <%- body %>
      </div>
    </div>
    <div class="row social-row">
      <div class="col-md-12 social-wrap">
        <div class="social">
          <div data-href="https://www.sevenspirals.net/<%= url %>" data-layout="box_count" data-action="like" data-show-faces="true" data-share="false" class="fb-like"></div>
        </div>
        <div class="social"><a href="https://twitter.com/share" data-count="vertical" data-lang="ja" class="twitter-share-button">ツイート</a></div>
        <div class="social">
          <div data-size="tall" class="g-plusone"></div>
        </div>
        <div class="social"><a href="http://b.hatena.ne.jp/entry/https://www.sevenspirals.net/<%= url %>" data-hatena-bookmark-title="<%= title %>" data-hatena-bookmark-layout="vertical-balloon" data-hatena-bookmark-lang="ja" title="このエントリーをはてなブックマークに追加" class="hatena-bookmark-button"><img src="https://b.hatena.ne.jp/images/entry-button/button-only.gif" alt="このエントリーをはてなブックマークに追加" width="20" height="20" style="border: none;"></a></div>
        <div class="social"><a data-pocket-label="pocket" data-pocket-count="vertical" data-lang="ja" class="pocket-btn"></a></div>
      </div>
    </div>
    <div class="row recommend">
      <div class="col-md-12">
        <div data-src="https://www.sevenspirals.net/<%= url %>" class="OUTBRAIN OUTBRAIN"></div>
        <script type="text/javascript">(function(){window.OB_platformType=8;window.OB_langJS="//widgets.outbrain.com/lang_ja.js";window.OBITm="1404597594434";window.OB_recMode="brn_strip";var ob=document.createElement("script");ob.type="text/javascript";ob.async=true;ob.src="http"+("https:"===document.location.protocol?"s":"")+"://widgets.outbrain.com/outbrainLT.js";var h=document.getElementsByTagName("script")[0];h.parentNode.insertBefore(ob,h);})();</script>
      </div>
    </div>
  </div>
</div>
<%- include('footer') -%>
