<%- include('header') -%>
<div class="row article">
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-12">
        <h1 class="title"><%= title %></h1>
        <p><time class="label label-default" datetime="<%= timestamp.utcOffset('+09:00').format() %>"><%= timestamp.utcOffset('+09:00').format('YYYY年MM月DD日') %></time> <span class="label label-primary"><%= settings.categoryName[category] %></span></p>
      </div>
    </div>
    <div class="row content">
      <div class="col-md-12">
        <%- body %>
      </div>
    </div>
    <div class="row social-row">
      <div class="col-md-12 social-wrap">
        <div class="ninja_onebutton">
          <script type="text/javascript">
            //<![CDATA[
            (function(d){
                if(typeof(window.NINJA_CO_JP_ONETAG_BUTTON_8dde492fc1e53f80672c6d0534fe52a1)=='undefined'){
                    document.write("<sc"+"ript type='text\/javascript' src='\/\/omt.shinobi.jp\/b\/8dde492fc1e53f80672c6d0534fe52a1'><\/sc"+"ript>");
                }else{
                    window.NINJA_CO_JP_ONETAG_BUTTON_8dde492fc1e53f80672c6d0534fe52a1.ONETAGButton_Load();}
            })(document);
            //]]>
          </script><span class="ninja_onebutton_hidden" style="display:none;"></span><span style="display:none;" class="ninja_onebutton_hidden"></span>
        </div>
      </div>
    </div>
  </div>
</div>
<%- include('footer') -%>
